<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Urna</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/all.css" rel="stylesheet" type="text/css">
</head>
<body>
    {{>barra}}
    {{{body}}}
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>